<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs477.ontap">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:label="OnTap: Login &amp; Registration"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountCreation1Activity"
            android:label="OnTap: Account Creation 1/2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AccountCreation2Activity"
            android:label="OnTap: Account Creation 2/2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="OnTap: Home"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AccountManagementActivity"
            android:label="OnTap: Account Management"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AccountDeletionActivity"
            android:label="OnTap: Account Deletion"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MyTabActivity"
            android:label="OnTap: MyTab &amp; Orders"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AlcoholicMenuActivity"
            android:label="OnTap: Alcoholic Drinks"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NonAlcoholicMenuActivity"
            android:label="OnTap: Non-Alcoholic Drinks"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UpdateAccountActivity"
            android:label="OnTap: Update Account Info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UpdateBillingActivity"
            android:label="OnTap: Update Billing Info"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BeersMenuActivity"
            android:label="OnTap: Beer-Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WineMenuActivity"
            android:label="OnTap: Wine-Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CocktailMenuActivity"
            android:label="OnTap: Cocktail-Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AlcFreeCocktailMenuActivity"
            android:label="OnTap: Alc-Free Cocktail-Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SoftDrinkMenuActivity"
            android:label="OnTap: Soft Drink-Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OtherDrinkMenuActivity"
            android:label="OnTap: Cocktail-Menu"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OrderHistoryActivity"
            android:label="OnTap: Order History"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
